<h3>Hello {{ firstName }} {{ lastName }},</h3>
<p>Simran's Salon thanks you for creating an appointment on <b>{{ appointmentDate }}</b> at <b>{{ serviceTime }} PM</b></p>
<p>We have you down for a <b>{{ serviceType }}</b> with <b>{{ servicePrice }}</b></p>
<p>Please remember that if you have a set of nails which require removal before your new set, it will cost $5</p>
<p>If we have to notify you of any updates, we will contact you at {{ phoneNumber }}</p>
<p>We are excited to see you soon!</p>
<p>If you need to cancel your appointment, please click on this link: </p>

